apiVersion: projctl.konflux.dev/v1beta1
kind: ProjectDevelopmentStream
metadata:
  labels:
    app.kubernetes.io/name: projectdevelopmentstream
    app.kubernetes.io/instance: projectdevelopmentstream-sample
    app.kubernetes.io/part-of: project-controller
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: project-controller
  name: projectdevelopmentstream-sample-w-template-vars
  ownerReferences:
  - apiVersion: projctl.konflux.dev/v1beta1
    kind: Project
    name: "project-sample"
spec:
  project: project-sample
  template:
    name: projectdevelopmentstreamtemplate-sample
    values:
    - name: version
      value: "1.0.0"
    - name: mintmaker_disable
      value: "false"
status:
  conditions:
  - type: Ready
    status: "True"
    reason: ResourcesApplied
    message: "All resources applied successfully"
    observedGeneration: 1
    lastTransitionTime: "1970-01-01T00:00:00Z"
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: Application
metadata:
  name: "cool-app-1-0-0"
  annotations:
    pvc.konflux.dev/cloned-from: cool-app1-main
  ownerReferences:
  - apiVersion: "projctl.konflux.dev/v1beta1"
    kind: "ProjectDevelopmentStream"
    name: "projectdevelopmentstream-sample-w-template-vars"
spec:
  displayName: "Cool App 1.0.0"
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: Component
metadata:
  name: "cool-comp1-1-0-0"
  annotations:
    pvc.konflux.dev/cloned-from: cool_comp1_main
    git-provider: github
    git-provider-url: https://github.com
    mintmaker.appstudio.redhat.com/disabled: "false"
    build.appstudio.openshift.io/request: "configure-pac"
  ownerReferences:
  - apiVersion: "appstudio.redhat.com/v1alpha1"
    kind: "Application"
    name: "cool-app-1-0-0"
spec:
  application: "cool-app-1-0-0"
  componentName: "cool-comp1-1-0-0"
  source:
    git:
      context: "./"
      dockerfileUrl: "Dockerfile"
      revision: "1.0.0"
      url: git@github.com:example/comp1.git
  build-nudges-ref:
  - "cool-comp2-1-0-0"
  - "other-comp"
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: Component
metadata:
  name: "cool-comp2-1-0-0"
  annotations:
    pvc.konflux.dev/cloned-from: cool_comp2_main
  ownerReferences:
  - apiVersion: "appstudio.redhat.com/v1alpha1"
    kind: "Application"
    name: "cool-app-1-0-0"

spec:
  application: "cool-app-1-0-0"
  componentName: "cool-comp2-1-0-0"
  source:
    git:
      context: "./"
      dockerfileUrl: "Dockerfile"
      revision: "fixed-rev"
      url: git@github.com:example/comp2.git
