apiVersion: projctl.konflux.dev/v1beta1
kind: ProjectDevelopmentStream
metadata:
  name: pds-sample-w-relpln
  ownerReferences:
  - apiVersion: projctl.konflux.dev/v1beta1
    kind: Project
    name: project-sample
spec:
  project: project-sample
  template:
    name: pdst-sample-w-relpln
    values:
    - name: version
      value: "4.4.0"
status:
  conditions:
  - type: Ready
    status: "True"
    reason: ResourcesApplied
    message: "All resources applied successfully"
    observedGeneration: 1
    lastTransitionTime: "1970-01-01T00:00:00Z"
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: Application
metadata:
  name: "cool-app-4-4-0"
  ownerReferences:
  - apiVersion: "projctl.konflux.dev/v1beta1"
    kind: "ProjectDevelopmentStream"
    name: "pds-sample-w-relpln"
spec:
  displayName: "Cool App 4.4.0"
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: Component
metadata:
  name: "cool-comp1-4-4-0"
  ownerReferences:
  - apiVersion: "appstudio.redhat.com/v1alpha1"
    kind: "Application"
    name: "cool-app-4-4-0"
spec:
  application: "cool-app-4-4-0"
  componentName: "cool-comp1-4-4-0"
  source:
    git:
      context: "./"
      dockerfileUrl: "Dockerfile"
      revision: "4.4.0"
      url: git@github.com:example/comp1.git
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: ImageRepository
metadata:
  name: "cool-comp1-repo-4-4-0"
  labels:
    appstudio.redhat.com/component: "cool-comp1-4-4-0"
    appstudio.redhat.com/application: "cool-app-4-4-0"
  ownerReferences:
  - apiVersion: "appstudio.redhat.com/v1alpha1"
    kind: "Component"
    name: "cool-comp1-4-4-0"
spec:
  image:
    visibility: public
  credentials:
    verify-linking: true
---
apiVersion: appstudio.redhat.com/v1beta2
kind: IntegrationTestScenario
metadata:
  annotations:
    test.appstudio.openshift.io/kind: enterprise-contract
  name: cool-app-4-4-0-enterprise-contract
  ownerReferences:
    - apiVersion: appstudio.redhat.com/v1alpha1
      blockOwnerDeletion: true
      controller: true
      kind: Application
      name: "cool-app-4-4-0"
spec:
  application: "cool-app-4-4-0"
  contexts:
    - description: Application testing
      name: application
  params:
    - name: POLICY_CONFIGURATION
      value: rhtap-releng-tenant/app-interface-standard
  resolverRef:
    params:
      - name: url
        value: 'https://github.com/konflux-ci/build-definitions'
      - name: revision
        value: main
      - name: pathInRepo
        value: pipelines/enterprise-contract.yaml
    resolver: git
---
apiVersion: appstudio.redhat.com/v1alpha1
kind: ReleasePlan
metadata:
  name: cool-app-4-4-0-release-to-quay
  ownerReferences:
    - apiVersion: appstudio.redhat.com/v1alpha1
      blockOwnerDeletion: true
      controller: true
      kind: Application
      name: "cool-app-4-4-0"
  labels:
    release.appstudio.openshift.io/author: system_serviceaccount_remote-argocd_remote-argocd
    release.appstudio.openshift.io/auto-release: 'true'
    release.appstudio.openshift.io/standing-attribution: 'true'
    release.appstudio.openshift.io/releasePlanAdmission: cool-rpa-4-4-0
spec:
  application: "cool-app-4-4-0"
  releaseGracePeriodDays: 7
  target: cool-app-releng-tenant
  finalPipeline:
    serviceAccountName: "build-pipeline-cool-app-4-4-0"
    pipelineRef:
      resolver: git
      params:
        - name: url
          value: "https://github.com/konflux-ci/build-definitions"
        - name: revision
          value: main
        - name: pathInRepo
          value: pipelines/release.yaml
  data:
    releaseNotes:
      description: "Description"
      references:
        - "reference 4.4.0"
